body{
    font-family: 'roboto',sans-serif;
    margin: 0;
    background-color: #d49537 /* Cambia el color de fondo */
}
h1{
    font-size: 4em;
    color: rgb(255, 255, 0);
}
h2{
    font-size: 2.3em;
}
h3{
    font-size:1.7em;
} 
p{
    font-size: 1.3em;
}
ul{
    list-style: none;
}
header {
    background-color: rgb(225, 225, 225);
    width: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 0%;
    z-index: 2;
}
header .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: #edb45e;
    font-size: 5em;
}
.container {
    max-width: 1400px;
    margin: auto;
}
header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header a {
    text-decoration: none;
    padding: 5px 12px;
    font-weight: bold;
    color: black;
}
header a:hover {
    background-color: black;
    color: white;
    text-transform: uppercase;
}
nav li {
    display: inline-flex;
    margin-bottom: 10px;
}


.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; /* Ajusta la alineación vertical si es necesario */
}

.contact-info {
    width: 45%; /* Ajusta el ancho según sea necesario */
    background-color: cyan;
    padding: 30px;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    border-radius: 40px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.schedule-table {
    width: 50%; /* Ajusta el ancho según sea necesario */
}

.default {
    border-collapse: collapse;
    width: 100%;
}

.default th, .default td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
